page-home {
    .bck{
        background-image: url("../../assets/imgs/hme.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center
    }
    h1{
        text-align: center;
        font-size: 12vh;
        padding-top: 70%;
        color: orangered
    }
    h4{
        text-align: center;
        color: orange;
    }

}
