page-quiz4 {
    .bck{
        background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("../../assets/imgs/Abstract\ Colorful\ Red\ Blue\ Green\ Samsung\ S5\ Android\ Wallpaper.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        
    }
    .asdf{
        background-color: rgba(29, 129, 91, 0);
        border-radius: 10px
    }
    h3{
        color: whitesmoke;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px
    }
    ion-label{
        color: white
    }
    ion-header{
        color:black
    }
    h1{
        text-align: center;
        color: white
    }

}
